button.button1.btn.btn-primary{
    background-color: #FA7F4B;
    border-color: #FA7F4B;
}
button.button2.btn.active.btn-primary.btn-lg{
    background-color: #FA7F4B;
    border-color: #FA7F4B;
    
}
